#logout {
  float: right;
  margin-top: 50px;
  margin-right: 50px;
}
h1 {
  margin-left: 300px;
  float: left;

}
.App-header {
  overflow: auto;
  border-bottom-style: solid;
}
#left {
  float: left;
  width: 700px;
  border-right-style: solid;
  height: 100%;
  font-size: 20px;
}
#chart {
  width: 650px;
  height: 400px;
  margin-top: 10px;
  background-color: grey;
}
.GridBox {
  padding: 5px;
  grid-template-columns: auto auto auto auto;
}
#GridBoxBig {
  padding: 20px;
  overflow:hidden;
 
   
}
.gridContainer {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.gridItem {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.gh {
  background-color: grey;
}
.gridOdd {
  background-color: lightgrey;
}
.gridEven {
  background-color: white;
}
#right {
  margin: 10px;
}
.gOdd {
  background-color: grey;
  max-width: 400px;
}
#login {
  margin: 30px;
}
#login label {
  display: block;
  color:rgba(0, 0, 0, 0.8);
  font-weight: bold;


}
#login input {
  margin-bottom: 5px;
  margin-top: 5px;
  display: block;
}
.buy {
  margin: 10px;
  background-color: blue;
  font-size: 20px;
  border-style: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.sell {
  margin: 10px;
  background-color: red;
  font-size: 20px;
  border-style: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.okay {
  margin: 10px;
  background-color: green;
  font-size: 20px;
  border-style: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.search {
  display: block;
  margin: 10px;
  border-radius: 10px;
}
.amount {
  margin: 10px;
  border-radius: 10px;
}